

<div class="contain-1">
	<h2 class="header-line articles-head"> Our Latest Articles </h2>
	




		<ul class="flex-grid-thirds">

			<li class="col" *ngFor="let oneResult of articles;">

				
					<div class="bordered-wrap">

						<h3> {{oneResult.title }} </h3>

						<p class="article-intro">
						 {{oneResult.intro }}
						</p>


					</div> <!-- bordered-wrap -->
			
				

			</li>
		</ul><!-- flex-grid-thirds -->


</div> <!-- contain-1 -->








<!-- <div *ngFor=" let tweet of singleCategory;  let i=index">
    <div *ngIf="i<2">
        {{tweet}}
    </div>
</div>
 -->