<!-- Connect Font Family REMOVE AFTER LOCAL DEVELOPMENT -->
<link rel="stylesheet" href="https://use.typekit.net/cey0tja.css">

<header>
  <div class="contain-1">
    <div class="flex-container header-content-wrapper">

      <a href="./index.html">
        <h1 class="logo-text"> Typify </h1>
      </a>

      <nav>
        <ul class="flex-container">
          <li> <a routerLink="/"> Home </a>      </li>
          <!-- <li> <a routerLink="/article"> Article </a>      </li> -->
          <li> <a routerLink="/join"> Join </a>      </li>

         <li> <button class="signout" *ngIf="userThang.currentUser"
            (click)="startLogOutAjax()">
            Sign Out
          </button> </li>
        </ul>
      </nav>
    </div> <!-- flex-container | header-content-wrapper -->




  </div> <!-- contain-1  -->
</header>





 <!-- 
    <a routerLink="/phones"> Our Phones </a>

    <a *ngIf="!userThang.currentUser"
     routerLink="/join"> 
      Join 
    </a>
    
    <button *ngIf="userThang.currentUser"
      (click)="startLogOutAjax()">
      Log Out
    </button>
 -->


<!--   <p *ngIf="userThang.currentUser">
    Hello, <b>{{ userThang.currentUser.username }}</b>.
  </p> -->







<router-outlet></router-outlet>




<footer>
  <br />

  <p class="hello-user-footer" *ngIf="userThang.currentUser">
    Hello, <span class="footer-username">{{ userThang.currentUser.username }}</span>.
  </p>

  <br />
</footer>
