<header>
  <h1> Typify app-component.html H1 </h1>

  <nav>
 
    <a routerLink="/"> Home </a>
    <a routerLink="/article"> Article </a>
 <!-- 
    <a routerLink="/phones"> Our Phones </a>

    <a *ngIf="!userThang.currentUser"
     routerLink="/join"> 
      Join 
    </a>
    
    <button *ngIf="userThang.currentUser"
      (click)="startLogOutAjax()">
      Log Out
    </button>
 -->
  </nav>

<!--   <p *ngIf="userThang.currentUser">
    Hello, <b>{{ userThang.currentUser.username }}</b>.
  </p> -->

</header>





<router-outlet></router-outlet>




<footer>
  <p>
    Made With Love ❤️
  </p>
</footer>
