<div class="clouds cloud-container">
  <div class="contain-1">

    <div class="hero-wrapper">
        <h1 class="hero-intro header-line hero-line"> Clarify The Complex </h1>
    </div> <!-- hero-wrapper -->

  </div> <!-- contain-1 -->
</div> <!-- clouds -->



<div class="temp-SPACE-section"></div> <!-- temp-articles-section -->



<div class="contain-1">
	<h2 class="header-line"> Our Latest Articles </h2>


<div class="flex-grid-thirds">


  <div class="col">
  	<div class="bordered-wrap">


  		<h3>Human Torch Denied Bank Loan</h3>
  		<p class="article-intro">
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt.
  			<br />
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt.
  			<br />
  			<br />
  		--> Make inside here a row of three squares and inside the squares
  			are three different articles.
  		</p>


		</div> <!-- bordered-wrap -->
	</div> <!-- col -->



  <div class="col">
  	<div class="bordered-wrap">


  		<h3>Human Torch Denied Bank Loan</h3>
  		<p class="article-intro">
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt.
  			<br />
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt.
  			<br />
  			<br />
  		--> Make inside here a row of three squares and inside the squares
  			are three different articles.
  		</p>


  	</div> <!-- bordered-wrap -->
  </div> <!-- col -->



  <div class="col">
  	<div class="bordered-wrap">


		<h3>Human Torch Denied Bank Loan</h3>
		<p class="article-intro">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt.
			<br />
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt.
			<br />
			<br />
		--> Make inside here a row of three squares and inside the squares
			are three different articles.
		</p>
	  		

  	</div> <!-- bordered-wrap -->
  </div> <!-- col -->


</div> <!-- flex-grid-thirds -->
</div> <!-- contain-1 -->









<div class="temp-SPACE-section-below-articles"></div> <!-- temp-articles-section -->



<div class="contain-1">
	<div class="flex-grid-half">



	  <div class="col">
	  	<div class="light-grey-wrap">

			<div class="block-wrapper">

	  		<h1 class="header-line">Clarify The Complex</h1>
	  		<p class="block-intro"> 
	  			<strong>Sign up now to unpack the meaning behind important lines of text.</strong>
	  			<br />
	  			Propose an edit, ask questions, & refine till perfection. 
	  		</p>

	  		<div class="line-btn btn-center">
	  			<div class="line-btn-text"> View More </div>
	  		</div>

			</div> <!-- block-wrapper -->

			</div> <!-- light-grey-wrap -->
	  </div> <!-- col -->





	  <div class="col position-spotlight-homepage">
			 <a href="#" class="spotlight-page">
				Contact Us.
			 </a>
	  </div> <!-- col -->





	</div> <!-- flex-grid-half -->
</div> <!-- contain-1 -->




<div class="temp-SPACE-footer-end"></div> <!-- temp-articles-section -->

