<div class="clouds cloud-container">
  <div class="contain-1">

    <div class="hero-wrapper">
        <h1 class="hero-intro header-line hero-line"> Clarify The Complex </h1>


    </div> <!-- hero-wrapper -->

  </div> <!-- contain-1 -->
</div> <!-- clouds -->





<app-article></app-article>






<div class="temp-SPACE-section-below-articles"></div> <!-- temp-articles-section -->



<div class="contain-1">
	<div class="flex-grid-half">



	  <div class="col">
	  	<div class="light-grey-wrap">

			<div class="block-wrapper">

	  		<h1 class="header-line">Clarify The Complex</h1>
	  		<p class="block-intro"> 
	  			<strong>Sign up now to unpack the meaning behind important lines of text.</strong>
	  			<br />
	  			Propose an edit, ask questions, & refine till perfection. 
	  		</p>

	  		<div class="line-btn btn-center">
	  			<div class="line-btn-text"> View More </div>
	  		</div>

			</div> <!-- block-wrapper -->

			</div> <!-- light-grey-wrap -->
	  </div> <!-- col -->





	  <div class="col position-spotlight-homepage">
			 <a href="#" class="spotlight-page">
				Contact Us.
			 </a>
	  </div> <!-- col -->





	</div> <!-- flex-grid-half -->
</div> <!-- contain-1 -->




<div class="temp-SPACE-footer-end"></div> <!-- temp-articles-section -->

